body{
    background-color: rgb(240, 237, 237);
    font-family: 'Raleway', sans-serif;
}

/*Aca inicia el Index.html*/

.encabezado{
    text-align: center;
    color: rgb(12, 10, 18);
    width: 100%;
    padding: 1px;
    background-color: rgb(171, 207, 235); 
    position: fixed;
    left: 0;
    top:0;
} 
   
#nav{
    list-style-type: none;
    text-decoration: none;
    display: inline-block; 
}

#nav li{
    display: inline-block;
    color: white;
    padding: 1px 5px;
    margin: 1px;
}

#nav li a{
    color: rgb(49, 40, 40);
    text-decoration: none;
    display: block;
    padding: 1px;
}

#nav li a:hover{
    background-color: rgb(228, 233, 233);
}

.section1{
    padding-top:100px;
    text-align: center;   
}
.imagenSection1{
    padding-top: 0px;
    text-align: center;
}

#aside{
    text-align: center;
    padding-bottom: 50px;
}

#footer{
    background-color:rgb(171, 207, 235) ; 
    display: inline-block; 
    text-align: center;
    color: rgb(12, 10, 18);
    width: 100%;
    padding: 1px;
    left: 0;
    top:0;
} 

.redes li{
    list-style-type: none;
    text-decoration: none;
    display: inline-block;
    margin: 5px;
}

.redes li a{
    color: rgb(0, 0, 0);
    text-align: justify;
    padding: 30px;
    list-style-type: none;
    text-decoration:none;
}

/*Aqui inician los estilos en sobre mi*/

.sobremiarticle{
padding-top: 70px;
text-align: center;
}

/*Aqui inician los estilos en mis conocimientos*/

.misconocimientos{
    padding-top: 100px 
}

/*Aqui inician los estilos en mis trabajos*/

.mistrabajos{
    padding-top: 100px 
}

.sectionmistrabajos{
    text-align: center;
    background-color: rgb(204, 245, 249);
    border-radius: 5px;
    margin-bottom: 20px;
}

/*Aca inician los estilos en contacto*/

.contacto{
    padding-top: 70px;
    padding-bottom: 70px;
}

.formulario{
    background-color:rgb(171, 207, 235);
    color: rgb(125, 159, 189);
    border-radius: 7px;
    padding: 10px;
    display: inline-block;
    text-align: center;

}
.